
@media (min-width: 1450px) and (max-width: 1700px) {
    .rank-text p {
        letter-spacing: .3px;
        font-size: 14px;
    } 
    .summery-txt p {
        letter-spacing: .2px;
        padding-right: 0;
        font-size: 16px;
    }
    .summery-txt p br {
        display: none;
    }
    .xyz-table tr th {
        width: auto;
        padding: 18px 0;
    }
    .ct-txt h5 {
        font-size: 12px;
        letter-spacing: 0;
    }
    .category-box span {
        font-size: 12px;
    }
    .critical-item {
        margin-bottom: 10px;
    }
    #radar_chart {
        height: 280px !important;
        width: 300px !important;
    }
    .table-title tr th {
        padding: 18px 30px;
    }
    .common-table.dotted-table {
        width: 1500px;
    }
}




@media (min-width: 1367px) and (max-width: 1449px) {
    .rank-text p {
        letter-spacing: 0px;
        font-size: 14px;
    } 
    .summery-txt p {
        letter-spacing: .2px;
        padding-right: 0;
        font-size: 16px;
    }
    .summery-txt p br {
        display: none;
    }
    .container {
        max-width: 100%;
        padding: 0 25px;
    }
    .xyz-table tr th {
        width: auto;
        padding: 18px 0;
    }
    .ct-txt h5 {
        font-size: 12px;
        letter-spacing: 0;
    }
    .category-box li:first-child span {
        font-size: 12px;
        letter-spacing: .3px;
    }
    .category-box span {
        font-size: 12px;
    }
    .critical-item {
        margin-bottom: 10px;
    }

    .progress-circle {
        width: 200px;
        height: 200px;
    }
    .total-pie {
        position: relative;
        margin: 0;
    }
    .dtls-1 {
        top: -25px;
    }
    .dtls-2 {
        bottom: -15px;
    }
    .dotted-table tr th {
        padding: 15px 10px;
        font-size: 9.5px;
        border-right: 1px solid #313D4F;
    }
    #radar_chart {
        height: 280px !important;
        width: 300px !important;
    }
    .common-table.table-last td {
        padding: 8px 20px;
        font-size: 13px;
    }
    .common-table.dotted-table {
        width: 1400px;
    }

}






@media (min-width: 1200px) and (max-width: 1366px) {
    .common-table td {
        padding: 8px 20px;
        font-size: 13px;
    }
    .rank-text p {
        letter-spacing: 0px;
        font-size: 14px;
    } 
    .summery-txt p {
        letter-spacing: .4px;
        padding-right: 0;
        font-size: 14px;
    }
    .summery-txt p br {
        display: none;
    }
    .container {
        max-width: 100%;
        padding: 0 25px;
    }
    .ct-txt h5 {
        font-size: 12px;
        letter-spacing: 0;
    }
    .xyz-table tr th {
        width: auto;
        padding: 18px 0;
    }
    .category-box li:first-child span {
        font-size: 12px;
        letter-spacing: .3px;
    }
    .category-box span {
        font-size: 12px;
    }
    .critical-item {
        margin-bottom: 10px;
    }

    .progress-circle {
        width: 200px;
        height: 200px;
    }
    .total-pie {
        margin: 0;
    }
    .dtls-1 {
        top: -25px;
    }
    .dtls-2 {
        bottom: -15px;
    }
    .dotted-table tr th {
        padding: 15px 10px;
        font-size: 9px;
        border-right: 1px solid #313D4F;
    }
    #radar_chart {
        height: 280px !important;
        width: 300px !important;
    }
    .common-table.table-last td {
        padding: 8px 20px;
        font-size: 13px;
    }
    .table-title tr th {
        padding: 18px 20px;
        font-size: 13px;
    }
    .common-table td {
        letter-spacing: 0;
    }
    .dotted-table tr th {
        padding: 15px 10px;
        font-size: 9.5px;
        border-right: 1px solid #313D4F;
    }
    #radar_chart {
        height: 280px !important;
        width: 300px !important;
    }
    .common-table.table-last td {
        padding: 8px 20px;
        font-size: 13px;
    }

    #radar_chart {
        height: 280px !important;
        width: 300px !important;
    }
    .common-table.table-last td {
        padding: 8px 20px;
        font-size: 13px;
    }
    
    .table-title tr th {
        padding: 18px 20px;
        font-size: 11px;
    }
    .compliance-left-wrapper button {
        font-weight: 600;
        letter-spacing: 0;
        font-size: 12px;
    }
    .compliance-taglist button {
        width: 90px;
        height: 34px;
        font-size: 12px;
        margin-right: 4px;
    }
    .dotted-table tr th {
        padding: 15px 8px;
        font-size: 9.5px;
        border-right: 1px solid #313D4F;
    }

}
 





@media (min-width: 992px) and (max-width: 1199px) {



}
 








@media (min-width: 768px) and (max-width: 991px) {



}
 











/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {
   






}










/* SM Small Device :550px. */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .login-from {
        padding: 35px 20px;
        margin: 0 auto;
        padding-bottom: 70px;
    }
    .login-from button {
        font-size: 16px;
        width: 140px;
        text-align: center;
        height: 50px;
    }
    .login-title h1 {
        font-size: 32px;
    }
    .login-area .container {
        padding: 0 15px;
    }
    .yellow-txt {
        font-size: 14px;
    }
    .login-from button {
        margin-top: 35px;
        float: left;
    }
    .login-area {
        height: 100%;
        padding: 50px 0;
    }






 
}